/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --primary-card: #f9fafb;
  --theme-color: #4468f0;
}

/* navbar start*/

.nav-bg {
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px 0px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  z-index: 1000;
}


.navLink li:hover{
  color: var(--theme-color);
  cursor: pointer;
}

.svg-card {
  margin-top: 1rem;
  width: 188px;
  height: 147px;
  padding-block: 1.5rem;
  background-color: var(--primary-card);
  border-radius: 8px;
  border: 1px solid #e5e7eb;

  & p {
    margin: 0px;
  }
}

.svg-shapes svg {
  width: 50% !important;
  height: 50% !important;
}

.svg-card-text {
  font-size: 14px;
  margin-top: 10px;
}

.main-btn {
  font-size: 24px;
  border: 1px solid lightgray;
  margin: 20px;
  padding: 10px 20px;
  border-radius: 8px;
}

.download-png {
  background-color: #665df5;
  color: white;
}

.download-svg {
  background-color: #0e8f2a;
  color: white;
}

.modal-header {
  border: none !important;
}

.btn-close {
  background-color: red !important;
  border-radius: 50% !important;
}

/* .download-container{

} */

.page-btn {
  background-color: #665df5;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  width: 100px;
  margin: 0 10px;
}

.svg-card svg {
  width: 78px;
  height: 78px;
}


.form-control-color {
  width: 40px;
}

.svg-modal svg {
  width: 100px;
  height: 100px;
}

.placeholder-card {
  background-color: #f3f4f6;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
  width: 188px;
  height: 147px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: pulse .3s infinite;
}

/* Optional pulse animation */
@keyframes pulse {
  0% {
    background-color: #f3f4f6;
  }

  50% {
    background-color: #e5e7eb;
  }

  100% {
    background-color: #f3f4f6;
  }
}

.search-bar {
  border: 8px;
  padding: 5px 20px;
  border-radius: 8px;
  border: 1px solid lightgray;
}



.main-btn {
  background-color: #f9fafb;
  font-size: 16px;
  width: 50%;
  padding: 15px 0 !important;
}



/*:::::::::::::::::::::home page start :::::::::::::::::::: */

.hero {
  text-align: center;
}

.title {

  & p {
    color: gray;
  }
}

.hero-box {
  border-radius: 8px;
  width: 80%;
  padding: 112px 24px;
  background-color: #e0e7ff;
}

/* hero section start */

.hero-card {
  border: 1px solid lightgray;
  border-radius: 8px;
  padding: 24px 34px;
}

.hero-bg {
  background: url("/hero.jpg");
  background-size: fit;
  background-repeat: no-repeat;
}

.browse-now-btn {
  margin: 0;
  width: 40%;
  padding: 12px 28px !important;
  background-color: #665df5;
  color: white;
  border: none;
}

.outline-btn {
  border: 1px solid #e3e3e3 !important;
  background-color: #fefefd;
  color: black !important;
  margin-left: 18px;
}


.hero-left {

  & h1 {
    margin-bottom: 20px;
  }

  & p {
    margin-bottom: 35px;
    color: gray;
  }
}

.card-bg {
  background-color: #f6f8fc;
  border: none;
  height: 160px;

  & svg {
    margin: auto;
  }
}


.featured-Illus {
  & p {
    font-size: 16px !important;
  }
}



.cat-bus {
  background-color: #fdf4f2;
  padding: 20px 30px;
  border-radius: 6px;
}

.cy {
  background-color: #fff9ed;
}

.cb {
  background-color: #f1f6fc;
}

.p-tag {
  font-size: 18px !important;
  font-weight: 600;
}

/* how it work start*/
.preview-box {
  padding: 20px 20px 30px 20px;
  border: 1px solid rgb(235, 233, 233);
  border-radius: 8px;
}

.next-arrow {
  position: absolute;
  border: 10px solid #ffffff;
  border-radius: 50%;
}

.home-badge {
  text-align: center;
  width: 50%;
  margin: auto;
  border-radius: 8px;
  padding: 2px 8px !important;
  text-align: center;
  background-color: #99abbe;
  color: #ffffff;
  font-size: 14px;
}
.customized-badge{
  background-color: rgb(255, 145, 0);
  width: 63%;
}
.icon-bg {
  display: flex !important;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 50%;
  background-color: #fff2d9;
  margin-right: 10px;
}

.htext {
  font-size: 18px;
  color: #171717;
  font-weight: 500;
}

.how-browse-now-btn {
  margin: 0;
  width: 50%;
  padding: 8px 15px !important;

  color: black !important;
  border: none;
}

.featured-illustrations-card-img {
  margin: auto;
  width: 120px;
}



.latest-svg-card {
  margin-top: 1rem;
  width: 188px;
  height: 197px;
  padding-block: 1.5rem;
  background-color: #fffcf9;
  border-radius: 8px !important;
  border: 1px solid #f0ece9 !important;

  & p {
    margin: 0px;
  }

  & svg {
    width: 100px;
    height: 100px;
  }
}
.latest-svg-card:hover{
  scale: 1.1;
}
/* how it work end */

.new-badge {
  position: relative;
  top: 26px;
  left: 14px;

  width: 50px;
  text-align: center;
  border-radius: 25px;
  background: var(--theme-color);
  color: #ffffff;
  font-size: 12px !important;
  animation: blink;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  animation-iteration-count: infinite;

}

@keyframes blink {
  0% {
    background-color: var(--theme-color);
  }

  50% {
    background-color: #5c9b73;
  }

  100% {
    background-color: var(--theme-color);
  }
}




/* :::::::::::::: home page end :::::::::::::::::::::*/







/* ****************** product-page start******************** */
.canvas-editor {
  padding: 30px;
  border: 2px solid #e5e7eb;
  border-radius: 8px;
}

.product-style-card {
  padding: 18px;
  height: 100px;
  width: 95px;
  border: 2px solid #e5e7eb;
}


.badge-product {
  border-radius: 30%;
  padding: 2px 8px;
  border: 1px solid rgb(228, 228, 228);
}



.right-toolbar {
  padding: 20px;
  border-radius: 6px;
  border: 2px solid #e5e7eb;
}

.layer {
  width: 70% !important;
  margin-top: 10px;
  font-weight: 600;
  padding: 4px 8px;
  width: 50%;
  border-radius: 6px;
  background-color: #e5e7eb;

  & img {
    margin-left: 10px;
  }
}

.color-picker {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 10px;
}

.simmler-infographic {
  padding: 30px;
  border-radius: 6px;
  border: 1px solid lightgray;
}


.learsmore {
  text-decoration: underline;
  color: green;
}

.button-a {
  background-color: #0e8f2a;
  border: none;
  color: #ffffff;
  padding: 8px 28px;
}

.product-colorinput {
  width: 100px !important;
}

.product-page-svg svg {
  height: 300px;
  width: 300px;
}

.color-input {
  width: 100px !important;
}

.select-size {
  width: 50%;
  border: 1px solid #cdcdcd;
  padding: 8px 18px;
  border-radius: 8px;
  margin-block: 18px;
}

.card-styleSection {
  border: 1px solid #cdcdcd;
  min-height: 100px;
  min-width: 100px;
  border-radius: 8px;

  & svg {
    width: 80%;
    height: 80px;
  }
}



.more-like-this-section {
  border: 2px solid #e5e7eb;
  border-radius: 8px;
}

.more-like-this-card {
  border: 1px solid #cdcdcd;
  min-height: 200px;
}

.similarSvg-card {
  & svg {
    margin: auto;
    width: 100%;
  }
}


.detail-badge {
  border: 1px solid #bec7f7;
  color: #576ff8;
  width: 80px;
  height: 29px;
  border-radius: 25px;
  text-align: center;
}


/* ****************** product-page end******************** */